<a href="https://colab.research.google.com/github/jennerson/Data-Science/blob/main/UNIPE_1_Explora%C3%A7%C3%A3o_de_Dados_Manipula%C3%A7%C3%A3o_Pandas%2C_Numpy%2C_scipy%2C_matplotlib_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeira aula de Ciencia de Dados** - Autor:Jennerson Barbosa - Data:25/11/21

In [4]:
#Exploração de Dados - Manipulação Pandas, Numpy, scipy, matplotlib, seaborn
#Autor: Jennerson Barbosa
#Data: 25/11/2021

In [5]:
# Import das bibliotecas de Ciencia de Dados necessárioas para execução dos trabalhos.

import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
#Criando um objeto do tipo DF (Data Frame) para armazenar o conteúdo dos dados existentes no arquivo de salarios.
df = pd.read_csv("Salaries.csv")

In [ ]:
#Exibir as primeiras linhas do meu data frame com o comando head().
df.head(15)

In [8]:
#comando type - serve para exibir o tipo de dados dos objetos existentes do Data Frame
type(df)

pandas.core.frame.DataFrame

In [9]:
df['salary'].dtype

dtype('int64')

In [10]:
df['sex'].dtype

dtype('O')

In [12]:
#exibindo todos os tipos de um data frame
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [13]:
#total de tamanho em bytes do arquivo referente ao data frame
df.size

468

In [14]:
# mostra o número de linhas e colunas do data frame
df.shape

(78, 6)

In [15]:
# Mostra as saidas basicas estatisticas para o numero de colunas
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [16]:
#mostra a media de todas as colunas do Data Frame
df.mean()

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [17]:
# Exibir a quantidade de pessoas por cargo
df['rank'].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

In [18]:
#calcular a media das 10 ultimas linhas
df.tail(10).mean()

phd            18.1
service         9.8
salary     105852.0
dtype: float64